#transfrom-example {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  /* transform: rotate(90deg);
  transform: scale(1, 2);
  transform: skew(10deg, 0);
  transform: translate(100px, 0); */
}

#transition-example {
  background-color: black;
  color: white;
  width: 100px;
}
#transition-example:hover {
  width: 200px;
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  transition-delay: 1s;
  /* transition: width 3s linear 1s; */
}

#animation-example {
  animation-name: animationEx;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation: animationEx 5s ease-in 1s infinite alternate; */
}
@keyframes animationEx {
  from {
    border: 1px solid black;
    transform: translate(0, 0);
  }
  to {
    border: 5px solid black;
    transform: translate(100px, 0);
  }
}
